/* GENERAL */
*
{
  font-family: 'Poppins';
  -webkit-tap-highlight-color: transparent;
}

:root
{
  color-scheme: light dark;

  /* backgrounds */
  /* dark */
  --dark-topBar-bg: #323232;
  --dark-minimizeAppBtn-hover-bg: #1b1b1b;
  --dark-container-bg: #222222;
  --dark-connectingPanelList-bg: #141414;
  --dark-device-bg: #4a4a4a;
  --dark-device-hover-bg: #2e2e2e;
  --dark-device-marked-bg: #222222;
  --dark-switchHorizontal-bg: #454545;
  --dark-switcher-bg: black;
  --dark-switchVertical-bg: #454545;
  --dark-dialog-bg: #1414149d;
  --dark-dialogContent-bg: #111417;
  --dark-dialogTopBar-bg: #323232;
  --dark-scrollbar-track-bg: #4a4a4a;
  --dark-scrollbar-thumb-border: #131313;
  --dark-scrollbar-thumb-bg: #131313;

  /* light */
  --light-topBar-bg: #bcbcbc;
  --light-minimizeAppBtn-hover-bg: #9c9c9c;
  --light-container-bg: #e9e9e9;
  --light-connectingPanelList-bg: #c8c8c8;
  --light-device-bg: #ffffff;
  --light-device-hover-bg: #b1b1b1;
  --light-device-marked-bg: #959595;
  --light-switchHorizontal-bg: #b1b1b1;
  --light-switcher-bg: #858585;
  --light-switchVertical-bg: #b1b1b1;
  --light-modal-bg: #e9e9e99d;
  --light-dialog-bg: #ffffff92;
  --light-dialogContent-bg: #c8c8c8;
  --light-dialogTopBar-bg: #bcbcbc;
  --light-scrollbar-track-bg: white;
  --light-scrollbar-thumb-border: #bcbcbc;
  --light-scrollbar-thumb-bg: #bcbcbc;


  /* colors */
  /* dark */
  --dark-topBar-color: white;
  --dark-container-color: white;
  --dark-device-color: white;
  --dark-dialog-color: white;
 
  /* light */
  --light-topBar-color: black;
  --light-container-color: black;
  --light-device-color: black;
  --light-dialog-color: black;
}

.light
{
  color-scheme: light;
}

.dark
{
  color-scheme: dark;
}

html, body
{
  background: transparent;
  padding: 0;
  margin: 0;
}

/* CONTAINER */
#container
{
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 100vw;
  height: 100vh;
  color: light-dark(var(--light-container-color), var(--dark-container-color));
  background-color: light-dark(var(--light-container-bg), var(--dark-container-bg));
}

/* TOP BAR */
#topBar
{
  position: relative;
  width: 100%;
  text-align: center;
  background-color: light-dark(var(--light-topBar-bg), var(--dark-topBar-bg));
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1.1rem;
  app-region: drag;
  z-index: 200;
}

#topBarTitle
{
  padding: 0.25rem;
}

#topBarBtns
{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  app-region: no-drag;
}

#topBarBtns div
{
  padding: 0.5rem;
  width: 1.1rem;
  height: 1.1rem;
  line-height: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#closeAppBtn
{
  background-color: red;
  border-radius: 0 0.5rem 0 0;
  color: white;
}

#closeAppBtn:hover
{
  background-color: darkred;
}

#minimizeAppBtn:hover
{
  background-color: light-dark(var(--light-minimizeAppBtn-hover-bg), var(--dark-minimizeAppBtn-hover-bg));
}

/* CONTENT */
#content
{
  width: 100%;
  height: calc(100% - 0.5rem);
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
}

#subcontent
{
  height: 100%;
  width: 100%;
}

/* PANEL */
@keyframes panelFadeInAnimation 
{
  0% 
  {
    opacity: 0;
  }

  100% 
  {
    opacity: 1;
  }
}

@keyframes panelFadeOutAnimation 
{
  0% 
  {
    opacity: 1;
  }

  100% 
  {
    opacity: 0;
  }
}

.panel
{
  height: 100%;
  width: 100%;
  opacity: 0;
}

.panel.fadeOut
{
  animation: panelFadeOutAnimation 1s ease-out  forwards;
}

.panel.fadeIn
{
  animation: panelFadeInAnimation 1s ease-out  forwards;
}

.panelContent
{
  overflow-y: auto;
  padding: 2rem;
  height: calc(100% - 4rem);
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.panelTitle
{
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
}

.panelSubcontent
{
  height: 100%;
  width: 100%;
  position: relative;
}

/* CONNECTING PANEL */
#connectingPanelList
{
  width: 65%;
  border-radius: 0.5rem;
  height: 100%;
  outline: none;
  position: relative;
  background-color: light-dark(var(--light-connectingPanelList-bg), var(--dark-connectingPanelList-bg));
}

#connectingPanelList *
{
  outline: none;
}

#connectingPanelList > div
{
  height: calc(100% - 2rem);
  position: absolute;
  margin: 1rem;
  width: calc(100% - 2rem);
  overflow-y: scroll;
}

#connectingPanelList > div > div
{
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

@keyframes deviceFadeOutAnimation
{
  0% 
  {
    height: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    opacity: 1;
  }

  100% 
  {
    padding-bottom: 0;
    padding-top: 0;
    height: 0;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0;
  }
}

@keyframes deviceFadeInAnimation 
{
  0% 
  {
    height: 0;
    padding-bottom: 0;
    padding-top: 0;
    opacity: 0;
  }

  100% 
  {
    padding-bottom: 1rem;
    padding-top: 1rem;
    height: 3rem;
    opacity: 1;
  }
}

.device
{
  background-color: light-dark(var(--light-device-bg), var(--dark-device-bg));
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: background-color 0.5s ease;
  cursor: pointer;
  line-height: 3rem;
  height: 3rem;
  padding-left: 1rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hidden
{
  display: none;
}

.device:hover
{
  background-color: light-dark(var(--light-device-hover-bg), var(--dark-device-hover-bg));
}

.device.marked
{
  background-color: light-dark(var(--light-device-marked-bg), var(--dark-device-marked-bg));
}

.device.fadeIn
{
  animation: deviceFadeInAnimation 1s ease-out  forwards;
}

.device.fadeOut
{
  animation: deviceFadeOutAnimation 1s ease-out forwards;
}

#connectingPanelBtns
{
  width: 35%;
}

/* SWITCHES AND BUTTONS */
.btn, .switchHorizontal, .switchVertical
{
  font-size: 1.1rem;
  text-align: center;
}

.btn
{
  border: 0;
  outline: none;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.switchHorizontal
{
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  background-color: light-dark(var(--light-switchHorizontal-bg), var(--dark-switchHorizontal-bg));
  border-radius: 0.5rem;
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
}

.switchHorizontal .switcher
{
  position: absolute;
  background-color: light-dark(var(--light-switcher-bg), var(--dark-switcher-bg));
  opacity: 0.7;
  /* width: 50%; */
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  transition: left 0.25s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); 
}

.switchHorizontal .option
{
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
}

.switchVertical
{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  background-color: light-dark(var(--light-switchVertical-bg), var(--dark-switchVertical-bg));
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.switchVertical .switcher
{
  position: absolute;
  background-color: light-dark(var(--light-switcher-bg), var(--dark-switcher-bg));
  opacity: 0.7;
  width: 100%;
  height: calc(100% / 3);
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  transition: top 0.25s ease;
}

.switchVertical .option
{
  width: calc(100% - 2rem);
  height: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
}

.option
{
  z-index: 5;
}

/* DEVICE PANEL */
#ledSwitch
{
  background-color: #3636ff;
  color: white;
  border-radius: 0.5rem;
}

#ledSwitchLabel
{
  padding: 1rem;
  text-align: center;
  width: 30%;
  border-radius: 0.5rem 0 0 0.5rem;
}

#ledSwitch .option
{
  width: 100%;
  text-align: center;
  padding: 0.7rem;
  z-index: 5;
  color: black;
}

#ledSwitchContent
{
  width: 70%;
  border-radius: 0.5rem;
  position: relative;
  padding: 0.3rem;
  background-color: #7474ec;
}

.ledSwitchThumb
{
  position: absolute;
  width: calc(50% - 0.3rem);
  background-color: #d0d0ff;
  height: calc(100% - 0.6rem);
  border-radius: 0.5rem;
  transition: left 0.5s ease-in-out;
}

/* RANGE */
input[type="range"] 
{
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]:focus 
{
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track 
{
  background-color: #ffffff;
  border-radius: 0.25rem;
  height: 1rem;
}

input[type="range"]::-webkit-slider-thumb 
{
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.5rem;
  background-color: #4400ff;
  border-radius: 0.25rem;
  height: 2rem;
  width: 2rem;
}

/* SCROLL */
*::-webkit-scrollbar
{
  width: 1.5rem;
}

*::-webkit-scrollbar-track
{
  background: light-dark(var(--light-scrollbar-track-bg), var(--dark-scrollbar-track-bg));
  border-radius: 0.2rem;
}

*::-webkit-scrollbar-thumb
{
  background-color: light-dark(var(--light-scrollbar-thumb-bg), var(--dark-scrollbar-thumb-bg));
  border-radius: 0.25rem;
  border: 0.25rem solid light-dark(var(--light-scrollbar-thumb-bg), var(--dark-scrollbar-thumb-bg));
  width: 2rem;
}


/* MODAL WINDOW */
@keyframes dialogFadeInAnimation 
{
  0% 
  {
    opacity: 0;
  }

  100% 
  {
    opacity: 1;
  }
}

@keyframes dialogFadeOutAnimation 
{
  0% 
  {
    opacity: 1;
  }

  100% 
  {
    opacity: 0;
  }
}

@keyframes dialogContentFadeInAnimation 
{
  0% 
  {
    margin-top: -500px;
  }

  100% 
  {
    margin-top: 50px;
  }
}

@keyframes dialogContentFadeOutAnimation 
{
  0% 
  {
    margin-top: 50px;
  }

  100% 
  {
    margin-top: -500px;
  }
}

.dialog
{
  background-color: light-dark(var(--light-dialog-bg), var(--dark-dialog-bg));
  backdrop-filter: blur(10px);
  position: absolute;
  height: calc(100% - 2.1rem);
  width: 100%;
  z-index: 100;
  border-radius: 0 0 1rem 1rem;
  opacity: 0;
  color: light-dark(var(--light-dialog-color), var(--dark-dialog-color));
}

.dialogContent
{
  background-color: light-dark(var(--light-dialogContent-bg), var(--dark-dialogContent-bg));
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  margin-top: -500px;
}

.dialogTopBar
{
  text-align: center;
  position: relative;
  width: 100%;
  background-color: light-dark(var(--light-dialogTopBar-bg), var(--dark-dialogTopBar-bg));
  border-radius: 1rem 1rem 0 0;
}

.dialogTopBarTitle
{
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  height: 1rem;
  width: calc(100% - 1rem); 
}

.dialogTopBarClose
{
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  line-height: 1rem;
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  padding: 0.5rem;
  border-radius: 0 1rem 0 0;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dialogTopBarClose:hover
{
  background-color: darkred;
}

.dialogSubcontent
{
  padding: 1rem;
  font-size: 1.1rem;
}

.dialog.fadeOut
{
  animation: dialogFadeOutAnimation 0.5s ease-out  forwards;
}

.dialog.fadeOut > .dialogContent
{
  animation: dialogContentFadeOutAnimation 0.5s ease-out  forwards;
}

.dialog.fadeIn
{
  animation: dialogFadeInAnimation 0.5s ease-out  forwards;
}

.dialog.fadeIn > .dialogContent
{
    animation: dialogContentFadeInAnimation 0.5s ease-out  forwards;
}







/* OTHERS */
.row
{
  display: flex;
  flex-direction: row;
}

.col
{
  display: flex;
  flex-direction: column;
}

.h100
{
  height: 100%;
}

.w25
{
  width: 25%;
}

.w30
{
  width: 30%;
}

.w50
{
  width: 50%;
}

.w70
{
  width: 70%;
}

.w100
{
  width: 100%;
}

.wFit
{
  width: fit-content;
}

.gap1
{
  gap: 1rem;
}

.gap2
{
  gap: 2rem;
}

.bgGreen
{
  background-color: #24ff7b;
  color: black;
}

.bgRed
{
  background-color: #d33838;
  color: white;
}

.bgBlue
{
  background-color: #006aff;
  color: white;
}

.bgCoral
{
  background-color: #ff7f50;
  color: black;
}

.bgPinkRed
{
  background-color: #F62655;
  color: white;
}

.fwBold
{
  font-weight: bold;
}

.bRad1
{
  border-radius: 1rem;
}

.bRad0_5
{
  border-radius: 0.5rem;
}

.padding1
{
  padding: 1rem;
}

.padding0_5
{
  padding: 0.5rem;
}

.fs1_5
{
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.fs2
{
  font-size: 2rem;
  line-height: 2rem;
}

.fs3
{
  font-size: 3rem;
  line-height: 3rem;
}

.fs2_5
{
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.textAlignCenter
{
  text-align: center;
}

.justifyContentCenter
{
  justify-content: center;
}