*
{
    font-family: "Kanit";
    color: black;
}

body
{
    background: none;
    height: 550px;
    display: none;
    width: 800px;
}

.topBar
{
    height: fit-content;
    font-size: 1.2rem;
    background-color: rgb(231, 231, 231);
    -webkit-app-region: drag;
    border-top-right-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
}

.appTitle
{
    text-align: center;
    height: max-content;
    font-weight: bold;
} 

.windowButtons
{
    font-size: 1.2em;
    font-weight: bold;
}

.closeAppBtn, .maximizeAppBtn, .minimalizeAppBtn
{
padding: 0.25em 0.5em 0.25em 0.5em;
cursor: pointer;
-webkit-app-region: no-drag;
}

.maximizeAppBtn:hover, .minimalizeAppBtn:hover
{
    background-color: rgb(206, 206, 206);
}

.closeAppBtn
{
    background-color: red;
    border-top-right-radius: 15px 15px;
}

.closeAppBtn:hover
{
    background-color: rgb(189, 0, 0);
}

.mainContent
{
    width: 100%;
    background-color: white;
    height: 100%;
    border-bottom-right-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    overflow: auto;
}

.chooseDeviceTitle
{
    width: 100%;
    padding: 0.5em 0 0em 0.75em;
    font-size: 2.5em;
    font-weight: bold;
}

.chooseDeviceSubpanel
{
    width: 100%;
    height: fit-content;
}

.devicesList
{
    background-color: rgb(180, 180, 180);
    margin: 1.5em;
    border-radius: 10px;
    width: 60%;
    height: 400px;
}

.rightPanel
{
    width: 40%;
    height: 200px;
    padding: 1.5em;
}

.chooseDeviceButton
{
    border: 0;
    border-radius: 5px;
    padding: 1em;
}

.connectButton
{
    background-color: rgb(65, 163, 65);
    color: white;
    font-weight: bold;
}

.aboutButton
{
    margin-top: 1em;
    background-color: rgb(65, 91, 163);
    color: white;
    font-weight: bold;
}

.chooseDeviceContent
{
    height: fit-content;
}

.themeButtons
{
    background-color: rgb(65, 91, 163);
    margin-top: 1em;
    border-radius: 5px;
}

.lightModeButton, .darkModeButton
{
    width: 50%;
    text-align: center;
    padding: 1em;
    font-weight: bold;
}

.lightModeButton
{
    color: white;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}

.darkModeButton
{
    background-color: rgb(180, 180, 180);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.deviceMainTitle
{
    padding: 0.5em;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.deviceSubtitle
{
    padding: 0 0.5em 0.5em;
    margin: 0;
}

.device:first-child
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: none;
}

.device
{
    border-top: 1px solid black;
    background-color: white;
    cursor: pointer;
    padding: 0.5em;
    color: black;
}

.device:last-child
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.devicesList
{
    padding: 0.5em;
}

.subDevicesList
{
    overflow: overlay;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
}

.subDevicesList::-webkit-scrollbar 
{
    width:0px; 
}
.subDevicesList::-webkit-scrollbar * 
{
    background:transparent; 
}
.subDevicesList::-webkit-scrollbar-thumb 
{
    background:rgba(255,0,0,0.1) !important; 
}

.curtain
{
    background-color: white;
}

.idDevice
{
    font-weight: bold;
    font-size: 1.2em;
}

.dataPanel
{
    padding: 1.5em;
}

.temperature
{
    margin-right: 1.5em;
}

.temperature, .pressure
{
    width: 50%;
    padding: 1em;
    font-weight: bold;
}

.measTitle
{
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.measValue
{
    font-size: 3em;
    padding: 0;
    margin: 0;
}

.measSubtitle
{
    font-size: 1.1em;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
    padding: 0;
}

.measInput
{
    width: 100%;
}

.measInput > input
{
    border-bottom-left-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    font-weight: bold;
    font-size: 1.2em;
    border: 0;
    padding: 0.5em;
    width: 100%;
}

.measInput > i
{
    background-color: green;
    color: white;
    padding: 1em;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    border-top-right-radius: 10px 10px;
}

input:focus, input:active
{
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}

*::-webkit-scrollbar 
{
    height: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track 
{
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-thumb 
{
    background-color: rgb(167, 167, 167);
}

.bottomUpdateBar
{
    border-bottom-left-radius: 15px 15px;
    margin: 0;
    font-weight: bold;
    padding: 0.5em 0 0.5em 1em;
    background-color: rgb(231, 231, 231);
    width: 100%;
}

.dot 
{
    height: 10px;
    width: 10px;
    background-color: #bbb;
    background-color: green;
    border-radius: 50%;
    margin-right: 0.5em;
}

.marked
{
    /* background-color: rgb(155, 155, 155); */
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}
input, button, textarea, :focus {
    outline: none;
}

.myDialogBack
{
    background-color: black; 
    opacity: 0.7;
    display: none;
}

.myDialog
{
    background-color: white; 
    width: 400px; 
    height: fit-content;
    display: none;
    opacity: 1;
    border-top-right-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    margin-top: 2em;
}

.myDialogTopBar
{
    width: 100%;
    font-weight: bold;
    height: fit-content;
    /* background-color: rgb(231, 231, 231); */
    border-top-right-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
    font-size: 1.2em;
}

.dialogTitle
{
    padding: 0.5em;
    
}

.closeDialog
{
    /* background-color: red; */
    border-top-right-radius: 15px 15px;
    padding: 0.5em 0.75em 0.5em 0.75em;
    /* background-color: red; */
}

.dialogContent
{
    padding: 1em 1em 1em 1em;
    font-weight: bold;
    font-size: 1em;
}

.rightPanelTitle
{
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
    font-size: 1.5em;
}